<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Employee</h1>
    <form action="/employee/<%=employee.id%>?_method=PUT" method="POST">
        <input type="text" name="first" placeholder="Enter First Name" /><br/>
        <input type="text" name="last" placeholder="Enter Last Name" /><br/>
        <input type="email" name="email" placeholder="Enter Email" /><br/>
        <input type="text" name="role" placeholder="Enter Role" /><br/>
        <legend>Days:</legend>
        Monday <input type="radio" name="monday" /><br>
        Tuesday <input type="radio" name="tuesday" /><br>
        Wenesday <input type="radio" name="wednesday" /><br>
        Thursday <input type="radio" name="thursday" /><br>
        Friday <input type="radio" name="friday" /><br>
        <input type="submit" value="Edit Changes" />
    </form>
</body>
</html>