<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN</h1>
    <p>please enter username and password to login, or sign up to create an account</p>
    <form>
        username: <input type="text" name="username" placeholder="Enter Username" required /><br/>
        password: <input type="password" name="password" placeholder="Enter password" required /><br/>
        <input type="button" onclick="parent.location='/homepage'" value="Login" />
        <!-- <button type="submit">Login</button> -->
        <label>
        <input type="checkbox" name="remember"> remember me
        </label>
        <span><a href="#">Forgot Password?</a></span>
    </form>
</body>
</html>