<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Employee</h1>
    <button onclick="history.back()">back</button>
    <form action="/employee" method="POST">
        First Name: <input type="text" name="first" placeholder="Enter First Name" /><br/>
        Last Name: <input type="text" name="last" placeholder="Enter Last Name" /><br/>
        Email: <input type="email" name="email" placeholder="Enter Email" /><br/>
        Role: <input type="text" name="role" placeholder="Enter Role" /><br/>
        <legend>Days:</legend>
        Monday <input type="radio" name="monday" /><br>
        Tuesday <input type="radio" name="tuesday" /><br>
        Wenesday <input type="radio" name="wednesday" /><br>
        Thursday <input type="radio" name="thursday" /><br>
        Friday <input type="radio" name="friday" /><br>
        Image <input type="text" name="image" /><br/>
        <input type="submit" value="Add Changes" />
    </form>
</body>
</html>