<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Employee</h1>
    <button onclick="history.back()">back</button>
    <form>
        First Name: <input type="text" name="first" placeholder="Enter First Name" /><br/>
        Last Name: <input type="text" name="last" placeholder="Enter Last Name" /><br/>
        Email: <input type="text" name="email" placeholder="Enter Email" /><br/>
        <legend>Avaliability:</legend>
        Monday <input type="checkbox" name="avaliability" /><br>
        Tuesday <input type="checkbox" name="avaliability" /><br>
        Wensday <input type="checkbox" name="avaliability" /><br>
        Thursday <input type="checkbox" name="avaliability" /><br>
        Friday <input type="checkbox" name="avaliability" /><br>
        <input type="submit" value="Add Changes" />
    </form>
</body>
</html>